<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :post_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :post_surname %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :post_age %>
  </div>

  <div class="field">
    <%= form.label :school %>
    <%= form.text_area :school, id: :post_school %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_area :adress, id: :post_adress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
